.card-container {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #999;
  transition: 0.5s;
  border-radius: 5px;
  padding: 10px;
  color: #4e4e4e;
  cursor: pointer;
}

.card-container .title {
  font-size: large;
  font-weight: bold;
}

.card-container:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
