@font-face {
  font-family: "iconfont"; /* Project id 4499996 */
  src: url('iconfont.woff2?t=1712729607230') format('woff2'),
       url('iconfont.woff?t=1712729607230') format('woff'),
       url('iconfont.ttf?t=1712729607230') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analysis:before {
  content: "\e86b";
}

.icon-a-aroundprotection:before {
  content: "\e86c";
}

.icon-audit:before {
  content: "\e86d";
}

.icon-Availability:before {
  content: "\e86e";
}

.icon-attacker:before {
  content: "\e86f";
}

.icon-qiehuanqiyou:before {
  content: "\e600";
}

.icon-qiehuanqizuo:before {
  content: "\e601";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

