.list-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 2em;
  color: #5a5a5a;
}

.list-item .title {
  margin-left: 1.5em;
}

.list-item:hover {
  background: #96b0d7;
  color: #fff;
}
